// General Styling
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    
}

.btn{
    color: #fff;
    background-color:hsl(322, 100%, 66%);
    border-radius: 30px;
    border: none;
    width: 180px;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.img{
    padding-top: 40px;
    width: 100%;
   }

.container{
    width: 100%;
    // Nav Styling
    .container-top{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    

    .try-free{
        background-color: white;
        color: hsl(321, 100%, 78%);
        border: 1px solid hsl(321, 100%, 78%);
        width: 90px;
        height: 30px;
    }
  
    }
    // Main tag styling

    // First section styling
    .first-section{
        display: flex;
        flex-direction: column;        
        align-items: center;
        justify-content: center;
        margin: 80px 20px;
        text-align: center;
        width: 100%;

        .first-section-text{
                
                .top-paragraph{
                    width: 50%;
                    margin: 0 auto;
                    
                }
                .top-others-btn{
                    margin: 50px;
                    font-size: 10px;
                    font-weight: bold;
                }
        }

        .first-section-img img{
            width: 100%;
            width: 600px;
        }
    }

    //Second Section styling
   .second-section{
        display: flex;
        flex-direction: row;
        justify-content: center;

        img{
            width: 20px;
        }
        h1{
            margin: -20px 0;
            font-size: 65px;
        }
        
        .second-section-first{
            margin-right: 100px;            
            width: 250px;
            p{
                text-align: start;
                font-weight: 100;
            }
        }
        .second-section-second{
            width: 200px;

            .numbers-text{
                text-align: center;
                font-weight: 100;
            }
        }
        
   }


   
   //Third section styling
   .third-section{
        background-color: #f6fbff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        padding: 50px;
        padding-top: 0;
        margin-top: -7px;
        margin-bottom: -7px;
        width: 90%;

        .third-section-text{
            padding-right: 20px;
            margin: 0 50px;

            .third-section-heading{
                margin-bottom: 10px;
            }

            .third-section-paragraph{
                margin: 0;
                max-width: 90%;
            }
        }

        .third-section-img  img{
            width: 300px;
            margin: 0 50px;
        }
        
}

.img-img{
            width: 100%;
            transform: rotate(180deg);
        }

   //Fourth section styling
   .fourth-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        padding: 50px;
        height: 200px;

        .fourth-section-text{
            max-width: 90%;
            margin: 0 50px;

            .fourth-section-heading{
                margin-bottom: 0;
                
            }
        }

        .fourth-section-img  img{
            width: 300px;
            padding-right: 50px;
            margin: 0 50px;
        }
    }

    //Fifth section styling
   .fifth-section{
        background-color: #f6fbff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        padding: 50px;
        padding-top: 0;
        margin-top: -7px;
        margin-bottom: -7px;

        .fifth-section-text{
            padding-right: 20px;
            margin-left: 50px;
            max-width: 120%;

            .fifth-section-heading{
                margin-bottom: 0;
                padding-bottom: 20px;
            }

            .fifth-section-paragraph{
                margin: 0;
                
            }
        }

            .fifth-section-img  img{
                width: 300px;
                margin: 0 50px;
            }
    }
    .fifth-img{
        transform: rotate(180deg);
        // padding-bottom: 80px;
    }

    /* Sixth Section styling*/
    .sixth-section{
        text-align: center;
        padding-bottom: 90px;
        padding-top: 90px;
    }

    //Footer styling
   .container-footer{
        background-color: #00252e;
        margin-top: -6px;
        padding: 50px;
        padding-top: 50px;
        color: #fff;
        font-size: 10px;
        height: 40vh;
        

        .footer-all{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
                        
            .footer-logo{
                width: 70%;
                
            }

            .footer-left{
                width: 25%;
                margin-right: 100px;
                margin-left: 2px;
                height: 200px;
            }


            .footer-right{
                width: 30%;
                margin: 10px;
                height: 200px;

                .footer-right-text p{
                    max-width: 60%;
                }
                h4{
                    font-size: 15px;
                    margin: 0;
                    top: 5px
                    
                }
                .subscribe-btn{
                    width: 70px;
                    border-radius: 5px;
                    height: 22px;
                    font-size: 8px;
                    margin-left: 25px;
                }
            }

            .footer-contact{
                img{
                    width: 8px;
                    margin-right: 15px;
                }

                a{
                    text-decoration: none;
                    color: #fff;
                }
                
                .icon-all{
                    margin-top: 20px;
                    font-size: 20px;
                    
                    ion-icon{
                        padding-right: 10px
                    }
                }
            }

        }
        

        .attribution { 
            font-size: 11px; 
            text-align: center; 
        }

        .attribution a { 
            color: hsl(228, 45%, 44%); 
        }
    }
}


@media only screen and (max-width: 694px){
        .container{
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            
            
            .container-top{
                display: flex;
                // width: 110%;

                .nav-image{
                    width: 60%;
            }

                .try-free{
                    width: 140px;
                    font-size: 15px;
                    padding: 5px 10px;
                    height: 40px;
                    text-align: center;
                    box-shadow: 0 0 5px;
                    font-weight: 600;
                }
                
            }
        }
           .container-sections{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;  


                    .top-heading{
                        max-width: 80%; 
                        margin: auto;
                        margin-bottom: 50px;
                        font-size: 50px;
                    }

                    .top-paragraph{
                        line-height: 43px;
                        font-size: 35px;
                        padding: 20px;
                        width: fit-content;
                    }

                    .top-others-btn{
                        width: 150px;
                    }

        }
    }










