// General Styling
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    
}

.btn{
    color: #fff;
    background-color:hsl(322, 100%, 66%);
    border-radius: 30px;
    border: none;
    width: 180px;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.container{

    // Nav Styling
    .container-top{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;

    .try-free{
        background-color: white;
        color: hsl(321, 100%, 78%);
        border: 1px solid hsl(321, 100%, 78%);
        width: 90px;
        height: 30px;
    }
  
    }
    // Main tag styling

    // First section styling
    .first-section{
        display: flex;
        flex-direction: column;        
        align-items: center;
        justify-content: center;
        margin: 80px 20px;
        text-align: center;

        .first-section-text{
                .top-heading{
                    font-size: xx-large;
                }
                .top-paragraph{
                    max-width: 40%;
                    margin: 0 auto;
                }
                .top-others-btn{
                    margin: 50px;
                    font-size: 10px;
                    font-weight: bold;
                }
        }

        .first-section-img img{
            max-width: 100%;
            width: 600px;
        }
    }

    //Second Section styling
   .second-section{
        display: flex;
        flex-direction: row;
        justify-content: center;

        h1{
            margin: -20px 0;
            font-size: 65px;
        }
        
        .second-section-first{
            margin-right: 100px;            
            width: 250px;
            p{
                text-align: start;
            }
        }
        .second-section-second{
            width: 200px;

            .numbers-text{
                text-align: center;
            }
        }
        
   }


   
   //Third section styling
   .third-img{
    padding-top: 40px;
    width: 100%;
    // z-index: 1;
   }
   
   .third-section{
        background-color: #f6fbff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        padding: 50px;
        padding-top: 0;
        margin-top: -7px;
        
        
        // height: 500px;

        .third-section-text{
            padding-right: 20px;

            .third-section-heading{
                margin-bottom: 0;
            }

            .third-section-paragraph{
                margin: 0;
                max-width: 40%;
            }
        }

        .third-section-img  img{
            width: 200px;
        }
    }

   //Fourth section styling
   .fourth-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        padding: 50px;
        height: 200px;

        .fourth-section-text{
            .fourth-section-heading{
                margin-bottom: 0;
            }

            .fourth-section-paragraph{
                margin: 0;
                max-width: 100%;
            }
        }

        .fourth-section-img  img{
            width: 200px;
            padding-right: 300px;
        }
    }

    //Fifth section styling
   .fifth-section{
    background: url(./images/bg-section-top-desktop-2.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 50px;
    height: 200px;

    .fifth-section-text{
        padding-right: 20px;

        .fifth-section-heading{
            margin-bottom: 0;
        }

        .fifth-section-paragraph{
            margin: 0;
            max-width: 40%;
        }
    }

        .fifth-section-img  img{
            width: 200px;
        }
    }

    /* Sixth Section styling*/
    .sixth-section{
        text-align: center;
        padding-bottom: 90px;
        // display: flex;
        // flex-direction: column;
    }

    //Footer styling
   .container-footer{
        border: 2px red dashed;
        background-image: url(./images/bg-footer-top-mobile.svg);
        background-repeat: no-repeat;
        background-size: 130vw 90vh;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 50px;
        height: 600px;
        

        .attribution { 
            font-size: 11px; 
            text-align: center; 
        }

        .attribution a { 
            color: hsl(228, 45%, 44%); 
        }
    }
}











