body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.btn {
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  border-radius: 30px;
  border: none;
  width: 180px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.container {
  /* Sixth Section styling*/
}
.container .container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.container .container-top .try-free {
  background-color: white;
  color: hsl(321, 100%, 78%);
  border: 1px solid hsl(321, 100%, 78%);
  width: 90px;
  height: 30px;
}
.container .first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 20px;
  text-align: center;
}
.container .first-section .first-section-text .top-heading {
  font-size: xx-large;
}
.container .first-section .first-section-text .top-paragraph {
  max-width: 40%;
  margin: 0 auto;
}
.container .first-section .first-section-text .top-others-btn {
  margin: 50px;
  font-size: 10px;
  font-weight: bold;
}
.container .first-section .first-section-img img {
  max-width: 100%;
  width: 600px;
}
.container .second-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .second-section h1 {
  margin: -20px 0;
  font-size: 65px;
}
.container .second-section .second-section-first {
  margin-right: 100px;
  width: 250px;
}
.container .second-section .second-section-first p {
  text-align: start;
}
.container .second-section .second-section-second {
  width: 200px;
}
.container .second-section .second-section-second .numbers-text {
  text-align: center;
}
.container .third-section {
  background: url(./images/bg-section-top-desktop-1.svg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 50px;
  height: 200px;
}
.container .third-section .third-section-text {
  padding-right: 20px;
}
.container .third-section .third-section-text .third-section-heading {
  margin-bottom: 0;
}
.container .third-section .third-section-text .third-section-paragraph {
  margin: 0;
  max-width: 40%;
}
.container .third-section .third-section-img img {
  width: 200px;
}
.container .fourth-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 50px;
  height: 200px;
}
.container .fourth-section .fourth-section-text .fourth-section-heading {
  margin-bottom: 0;
}
.container .fourth-section .fourth-section-text .fourth-section-paragraph {
  margin: 0;
  max-width: 100%;
}
.container .fourth-section .fourth-section-img img {
  width: 200px;
  padding-right: 300px;
}
.container .fifth-section {
  background: url(./images/bg-section-top-desktop-2.svg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 50px;
  height: 200px;
}
.container .fifth-section .fifth-section-text {
  padding-right: 20px;
}
.container .fifth-section .fifth-section-text .fifth-section-heading {
  margin-bottom: 0;
}
.container .fifth-section .fifth-section-text .fifth-section-paragraph {
  margin: 0;
  max-width: 40%;
}
.container .fifth-section .fifth-section-img img {
  width: 200px;
}
.container .sixth-section {
  text-align: center;
  padding-bottom: 90px;
}
.container .test {
  height: 100vh;
  width: 100%;
}
.container .container-footer {
  border: 2px red dashed;
  background-image: url(./images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 50px;
  height: 400px;
}
.container .container-footer .attribution {
  font-size: 11px;
  text-align: center;
}
.container .container-footer .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=index.css.map */